body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    
}


.navBar ul{
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  width: 100%;
  color:#999;
  background-color: rgb(26, 48, 68);
  border: 1.5px solid #243b50;
  
  
}
.navBar ul a{
  text-decoration: none;
  border-radius: 15px;
  color: #999;
  display: block;
  padding: 15px;
  margin: 0 5px;
  
  
}
.navBar ul .active, .navBar ul a:not(home_class):hover{
  background: #FFF;
  color: #222;
  
}

.home_class{
  text-decoration: none;
  color: #999;
  padding: 15px;
  margin: 0;
  overflow: hidden;
}

.login{
  position: absolute;
  right: 20px;
}